numpy<2
dash==2.18.2
dash_bootstrap_components==1.6.0
plotly==5.24.1
requests==2.32.3
pandas==2.2.2
polars-lts-cpu==1.28.1
sqlalchemy==2.0.34
duckdb==1.2.1
pyarrow>=14.0.0
cufflinks==0.17.3
gunicorn
python-dotenv
backtrader
